.desktop-app-image-container {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  height: 200px;

  @media (min-width: 48em) {
    height: 500px;
  }
}

.desktop-app-loading-image {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
}

.desktop-app-image {
  width: 65%;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 1;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
