@media (max-width: 64em) {
  .hiddenMobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hiddenDesktop {
    display: none;
  }
}

.bgCardBorder {
  border-radius: var(--mantine-radius-md);
  border-width: 2px;
  border-style: solid;
  border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.buildingBuildCard {
  border-radius: var(--mantine-radius-md);
  border-width: 0.5px;
  border: light-dark(
    solid 1px var(--mantine-color-gray-4),
    solid 1px var(--mantine-color-dark-4)
  );
}
