.footer {
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  border-top: light-dark(
    1px solid var(--mantine-color-gray-2),
    1px solid var(--mantine-color-dark-5)
  );
}
