.unitCard {
  cursor: pointer;
  position: relative;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  max-height: 170px;
}

.unitCard:hover {
  transform: translateY(-2px);
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}
