name: Build and Deploy Web - DEV
on:
  push:
    branches:
      - master

env:
  EDGIO_ENV: dev

jobs:
  build-deploy-web:
    name: Deploy Web Dev
    environment:
      name: dev
      url: https://dev.coh3stats.com/
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Setup Node
        uses: actions/setup-node@master
        with:
          node-version: "16.x"
      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules-v1
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install Deps
        run: yarn install
      - name: Disable Vercel telemetry
        run: yarn next telemetry disable
      - name: Install edgio CLI
        run: yarn global add @edgio/cli
      - name: Deploy to Edgio hosting
        env:
          DEPLOY_TOKEN: ${{ secrets.EDGIO_DEPLOY_TOKEN}}
        # Deploy command automatically runs the build
        run: |
          edgio deploy -e $EDGIO_ENV --token $DEPLOY_TOKEN
